{% extends "base.html" %}

{% block content %}
  <h1>Username: {{ driver.username }}</h1>
  <p><strong>First name: </strong>{{ driver.first_name }}</p>
  <p><strong>Last name: </strong>{{ driver.last_name }}</p>
  <div class="ml-3">
    <h3>Cars:</h3>
    {% for car in driver.cars.all %}
      <hr>
      <p class="text-muted"><a href="{{ car.get_absolute_url }}">{{ car.id }}</a></p>
      <p>{{ car.model }} ({{ car.manufacturer.name }})</p>
    {% empty %}
      <p>No cars!</p>
    {% endfor %}
  </div>
{% endblock %}
